global:
  slack_api_url: 'https://hooks.slack.com/services/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'

route:
  receiver: 'slack-notifications'

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: '#new-project'
