kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: kmpOBpjF06cxpMlSLqKVS53z8WZtLotkquzOQoJlf28=
      - identity: {}
