version: '3.3'
services:
  post_db:
    image: mongo:3.2
    volumes:
      - post_db:/data/db
    networks:
      back_net:
        aliases:
          - post_db
          - comment_db

  ui:
    image: ${IMGUSERNAME}/ui:${UI_VERSION}
    ports:
      - ${UI_PORT}
    networks:
      - front_net
  post:
    image: ${IMGUSERNAME}/post:${POST_VERSION}
    networks:
      back_net:
        aliases:
          - post
      front_net:
        aliases:
          - post
  comment:
    image: ${IMGUSERNAME}/comment:${COMMENT_VERSION}
    networks:
      back_net:
        aliases:
          - comment
      front_net:
        aliases:
          - comment

volumes:
  post_db:

networks:
  back_net:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.0.2.0/24

  front_net: 
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.0.1.0/24
